body {
    margin: 0;
    padding: 0;
    background: $background-color url("../img/bg1.jpg") no-repeat fixed;
    background-blend-mode: multiply;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
