$square-light-color: rgb(255, 217, 102);
$square-dark-color: rgb(172, 115, 57);
$board-border-color: rgb(61, 46, 5);
$background-color: rgba(34, 12, 4, 0.98);
$highlightMove-color: rgb(126, 197, 60);
$square-danger-color: rgb(255, 60, 0);
$square-piece-color: rgb(67, 131, 214);
$square-allowed-color: rgba(6, 4, 37, 0.4);
$span-background-color: rgba(255, 217, 102, 0.3);
$shade-color: rgb(100, 100, 100);
